
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="de"><!--<![endif]-->
<head>
	<link rel="preconnect" href="https://cdn.unifr.ch" />
	<link rel="dns-prefetch" href="https://www.googletagmanager.com" />
	<link rel="dns-prefetch" href="https://www.google.com" />
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Regular-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Semibold-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Bold-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Light-webfont.woff" as="font" type="font/woff" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Studienangebot und -pläne | Fakultät für Erziehungs- und Bildungs­wissenschaften  | Universität Freiburg</title>
    <meta name="description" content="">
    <meta name="language" content="de" />
    <meta name="robots" content="index, follow">
    <base href="//www.unifr.ch/eduform/de/" />
    <link rel="canonical" href="https://www.unifr.ch/eduform/de/studium/angebot/" />
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/bootstrap.css" rel="stylesheet" media="all" type="text/css" crossorigin  />
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/main.css" rel="stylesheet" media="all" type="text/css" crossorigin />
    <link rel="shortcut icon" type="image/ico" href="https://cdn.unifr.ch/sharedconfig/favicon/favicon.ico" />
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/old_ie.css" rel="stylesheet" /><![endif]-->
    <script src="//cdn.unifr.ch/uf/v2.4.5/js/modernizr.js" crossorigin ></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="de" href="https://www.unifr.ch/eduform/de/studium/angebot/" id="alt_hreflang_de">
        

<link rel="alternate" hreflang="fr" href="https://www.unifr.ch/eduform/fr/etudes/offre/" id="alt_hreflang_fr" />
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager --> 

    

<link href="//cdn.unifr.ch/uf/v2.4.5/css/corr.css" rel="stylesheet" defer crossorigin />

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    





    <style>

.table-condensed thead {white-space:nowrap; font-size:0.875em;}
.table-condensed tbody {font-size:0.875em;}

</style>
</head>
<body data-lang="de" class="violet">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH"
height="0" width="0" loading="lazy" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="https://www.unifr.ch/" class="open-offcanvas square bg-branded hover hidden-desktop" title="Hamburger menu"></a><a href="https://www.unifr.ch" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;" title="Zur Startseite dieser Website gehen"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Mehr sehen</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square" title="Suchmaschine anzeigen"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"/><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="https://www.unifr.ch/eduform/" checked="checked" id="local-" class="hidden"/>
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden"/>
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">Keine Resultate</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk" title="meta-menu toggler"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Schnellzugriff
</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">Universität</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/de" title="Die Studium: Bachelor, Master, Doktorat">Studium</a></li>
                            <li><a href="https://www.unifr.ch/campus/de/" title="Campus Life">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/de" title="Forschung">Forschung</a></li>
                            <li><a href="https://www.unifr.ch/uni/de" title="Die Universität">Universität</a></li>
                            <li><a href="https://www.unifr.ch/formcont/de"  title="Weiterbildung">Weiterbildung</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Fakultäten</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/de" title="Theologische Fakultät"><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Theologische Fak.</a></li>
                            <li><a href="https://www.unifr.ch/ius/de" title="Rechtswissenschaftliche Fakultät"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Rechtswissenschaftliche Fak.</a></li>
                            <li><a href="https://www.unifr.ch/ses/de" title="Wirtschafts- und Sozialwissenschaftliche Fakultät"><span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Wirtschafts- und Sozialwissenschaftliche Fak.</a></li>
							<li><a href="https://www.unifr.ch/lettres/de" title="Philosophische Fakultät"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Philosophische Fak.</a></li>
							<li><a href="https://www.unifr.ch/eduform/de" title="Fakultät für Erziehungs- und Bildungs­wissenschaften"><span class="glyphicon glyphicon-stop color-violet" aria-hidden="true"></span> Fak. für Erziehungs- und Bildungswissenschaften</a></li>
                            <li><a href="https://www.unifr.ch/science/de" title="Mathematisch-Naturwissenschaftliche Fakultät"><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Math.-Nat. und Med. Fak.</a></li>
                            <li><a href="https://www.unifr.ch/faculties/de/interfakultaer.html" title="Interfakultär"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfakultär</a></li>
                           
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/de/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">Informationen für</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/de/studieninteressierte/" title="Sie sind... Studieninteressierte_r">Studieninteressierte</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/studierende/" title="Sie sind... Studierende_r">Studierende</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/medien/" title="Sie sind... Medienschaffende_r">Medien</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/forschende/" title="Sie sind... Forschende_r">Forschende</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/mitarbeitende/" title="Sie sind... Mitarbeitende_r">Mitarbeitende</a></li>
							<li><a href="https://www.unifr.ch/you-are/de/doktorierende/" title="Sie sind... Doktorierende_r">Doktorierende</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg hidden-md" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressourcen</a>			
					<nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/de"><span class="fa fa-user fa-fw" aria-hidden="true"></span> Personenverzeichnis</a></li>
                            <li><a href="https://www.unifr.ch/map"><span class="fa fa-map-signs fa-fw" aria-hidden="true"></span> Ortsplan</a></li>
                            <li><a href="https://www.unifr.ch/biblio"><span class="fa fa-book fa-fw" aria-hidden="true"></span> Bibliotheken</a></li>
                            <li><a href="https://outlook.com/unifr.ch"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> Webmail</a></li>
                            <li><a href="https://www.unifr.ch/timetable/de/"><span class="fa fa-calendar fa-fw" aria-hidden="true"></span> Vorlesungsverzeichnis</a></li>
                            <li><a href="https://my.unifr.ch"><span class="fa fa-lock fa-fw" aria-hidden="true"></span> MyUnifr</a></li>
                        </ul>
                    </nav>
					
                </li>
            </ul>
        </nav>
    </div>
</div>


                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="//www.unifr.ch/eduform/fr/etudes/offre/" class="" title="Seite anzeigen auf:   FR">FR</a></li>

<li><a href="//www.unifr.ch/eduform/de/studium/angebot/" class=" bold" title="Seite anzeigen auf:   DE">DE</a></li>
    </ul>
</nav>

                <!-- Global Breadcrumb -->
                


<div class="breadcrumbs square">

    <a href="//www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler" title="Globaler Pfad"><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="//www.unifr.ch" class="gfx gfx-home" title="Zur Startseite gehen "></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="//www.unifr.ch/eduform" class="short">Fakultät für Erziehungs- und Bildungswissenschaften</a>
                    <a href="//www.unifr.ch/eduform" class="long">Fakultät für Erziehungs- und Bildungswissenschaften</a>
                </li>
                
                <!-- level 2 -->
                
                <!-- level 3 -->
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Mehr sehen</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square" aria-label="search" title="Suchmaschine anzeigen"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="https://www.unifr.ch/eduform/" id="local-" class="hidden" checked="checked"/>
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden" />
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">Keine Resultate</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square" title="Seite in einer anderen Sprache auswählen ">DE</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="//www.unifr.ch/eduform/fr/etudes/offre/" class="square bg-white hover " title="Seite anzeigen auf:   FR">FR</a></li>


<li><a href="//www.unifr.ch/eduform/de/studium/angebot/" class="square bg-white hover  bold" title="Seite anzeigen auf:   DE">DE</a></li>
        </ul>
    </div>
</nav>
                    <a href="#" class="close-offcanvas square hover bg-marine" title="close offcanvas"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            
                        </nav>
                        
<h1 class="logo"><span class="sr-only">Universität Freiburg</span><a href="//www.unifr.ch"  title="Zur Homepage der Universität gehen"><img src="//cdn.unifr.ch/uf/v2.4.5/gfx/logo.png" alt="Logo Unifr" " /></a></h1>

<p class="service-menu--department"><a href="//www.unifr.ch/eduform/de/" title="Zur Startseite dieser Website gehen">Fakultät für Erziehungs- und Bildungswissenschaften</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        
<!-- start outerTpl -->
<ul>
    <li class="first"><a href="//www.unifr.ch/eduform/de/" title="Home" >Home</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/eduform/de/news/news/" title="News"   class="deeper">
		News
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/eduform/de/news/full-page-research-day.html" title="EduForm Research Day vom 21.10.2026" >EduForm Research Day vom 21.10.2026</a></li>
<li><a href="//www.unifr.ch/eduform/de/news/news/" title="News" >News</a></li>
<li><a href="//www.unifr.ch/eduform/de/news/agenda/" title="Agenda" >Agenda</a></li>
<li><a href="https://events.unifr.ch/infoday/de/" title="Infodays" target="_blank">Infodays</a></li>
<li class="last"><a href="https://events.unifr.ch/masterdays/de/" title="Masterdays" target="_blank">Masterdays</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/eduform/de/fak/profil/" title="Fakultät"   class="deeper">
		Fakultät
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/eduform/de/fak/profil/" title="Profil" >Profil</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/vision.html" title="Vision" >Vision</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/eduform/de/fak/dekanat/leitung.html" title="Dekanat"   class="deeper">
		Dekanat
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/eduform/de/fak/dekanat/contact.html" title="Kontakt" >Kontakt</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/dekanat/leitung.html" title="Leitung" >Leitung</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/fak/dekanat/administration.html" title="Administration" >Administration</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/eduform/de/fak/org/dekanatsrat.html" title="Organisation"   class="deeper">
		Organisation
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/eduform/de/fak/org/dekanatsrat.html" title="Dekanatsrat" >Dekanatsrat</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/org/fakultaetsrat.html" title="Fakultätsrat" >Fakultätsrat</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/org/kommissionen.html" title="Ständige Kommissionen" >Ständige Kommissionen</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/fak/org/professorenrat.html" title="Professorinnen- und Professorenrat" >Professorinnen- und Professorenrat</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="//www.unifr.ch/eduform/de/fak/struktur.html" title="Struktur und Departemente" >Struktur und Departemente</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/reglemente.html" title="Statuten und Reglemente" >Statuten und Reglemente</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/dr-honoris-causa.html" title="Dr honoris causa" >Dr honoris causa</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/cswm.html" title="Wissenschaftliche Mitarbeitende" >Wissenschaftliche Mitarbeitende</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/fachschaft.html" title="Fachschaft" >Fachschaft</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/jobs.html" title="Offene Stellen" >Offene Stellen</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/fak/kontakt.html" title="Kontakt" >Kontakt</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="//www.unifr.ch/eduform/de/einheiten.html" title="Departemente & Institute" >Departemente & Institute</a></li>


<!-- start parentRowTpl -->
<li class="active">
	<a href="//www.unifr.ch/eduform/de/studium/angebot/" title="Studium"   class="deeper">
		Studium
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first active"><a href="//www.unifr.ch/eduform/de/studium/angebot/" title="Studienangebot und -pläne" >Studienangebot und -pläne</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/zulassung/" title="Zulassung" >Zulassung</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/eduform/de/studium/mein-studium/" title="Mein Studium"   class="deeper">
		Mein Studium
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/eduform/de/studium/mein-studium/fakultaetskalender/" title="Fakultätskalender" >Fakultätskalender</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/kurse-und-examen.html" title="Kurse und Examen" >Kurse und Examen</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/versuche-und-misserfolg.html" title="Versuche und Misserfolg" >Versuche und Misserfolg</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/bachelor-und-masterarbeit.html" title="Bachelor- und Masterarbeit" >Bachelor- und Masterarbeit</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/mobilität.html" title="Mobilität" >Mobilität</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/anerkennung.html" title="Anerkennung Studienleistungen" >Anerkennung Studienleistungen</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/aenderung-studiengang.html" title="Änderung Studiengang oder -programm" >Änderung Studiengang oder -programm</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/studienurlaub-und-verlängerung.html" title="Studienurlaub und -verlängerung" >Studienurlaub und -verlängerung</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/studienabschluss.html" title="Studienabschluss" >Studienabschluss</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/studium/mein-studium/diplomverleihung.html" title="Diplomverleihung" >Diplomverleihung</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li class="last"><a href="//www.unifr.ch/eduform/de/studium/doctorat.html" title="Mein Doktorat" >Mein Doktorat</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="//www.unifr.ch/eduform/de/forschung/forschungskolloquien.html" title="Forschung"   class="deeper">
		Forschung
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/eduform/de/forschung/forschungskolloquien.html" title="Forschungskolloquien und Doktorierendenschulen" >Forschungskolloquien und Doktorierendenschulen</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="//www.unifr.ch/eduform/de/" class="gfx gfx-home" title="Zur Startseite dieser Website gehen"></a></li>
	<li><a href="//www.unifr.ch/eduform/de/studium/angebot/">Studium</a></li><li>Studienangebot und -pläne</li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="//www.unifr.ch/eduform/de/studium/" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        Studium</a>
                                    <a href="//www.unifr.ch/eduform/de/studium/" class="hidden-max-laptop">
                                        Studium</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul><li class="first active"><a href="//www.unifr.ch/eduform/de/studium/angebot/" title="Studienangebot und -pläne" >Studienangebot und -pläne</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/zulassung/" title="Zulassung" >Zulassung</a></li>



<!--parentRowTpl-->
<li class="">
    <a href="//www.unifr.ch/eduform/de/studium/mein-studium/" title="Mein Studium" class="deeper"  >
        Mein Studium <i data-expander-toggler="sub-menu-136"
                            
                            
                            class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-136" class="level"
         
         >
        <ul><li class="first"><a href="//www.unifr.ch/eduform/de/studium/mein-studium/fakultaetskalender/" title="Fakultätskalender" >Fakultätskalender</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/kurse-und-examen.html" title="Kurse und Examen" >Kurse und Examen</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/versuche-und-misserfolg.html" title="Versuche und Misserfolg" >Versuche und Misserfolg</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/bachelor-und-masterarbeit.html" title="Bachelor- und Masterarbeit" >Bachelor- und Masterarbeit</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/mobilität.html" title="Mobilität" >Mobilität</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/anerkennung.html" title="Anerkennung Studienleistungen" >Anerkennung Studienleistungen</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/aenderung-studiengang.html" title="Änderung Studiengang oder -programm" >Änderung Studiengang oder -programm</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/studienurlaub-und-verlängerung.html" title="Studienurlaub und -verlängerung" >Studienurlaub und -verlängerung</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/studienabschluss.html" title="Studienabschluss" >Studienabschluss</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/studium/mein-studium/diplomverleihung.html" title="Diplomverleihung" >Diplomverleihung</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
<li class="last"><a href="//www.unifr.ch/eduform/de/studium/doctorat.html" title="Mein Doktorat" >Mein Doktorat</a></li>
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <h2>Unser Studienangebot</h2>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <h3>Lehrpersonenbildung</h3>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Unterricht auf der Primarstufe</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/teach/teacheredu0" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienplan&nbsp;</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BA_LDP_180_(1539) 23 10 2025.pdf" target="_blank">Bachelor LDP (180 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a title=" deds@unifr.ch" href="mailto:lds@unifr.ch">aline.zemp@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Unterricht auf der Sekundarstufe I</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/teach/teacheredu1" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BA_LDS_30 (1482) 05 06 2025.pdf" target="_blank">Bachelor LDS (30 ECTS-Kreditpunte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MA_LDS_90 (1548) 05 06 2025.pdf" target="_blank">Master LDS (90 ECTS-Kreditpunte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Erweiterungsdiplom_LDS_9 (1468) 05 06 2025.pdf" target="_blank">Erweiterungsdiplom LDS</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung :<a title=" deds@unifr.ch" href="mailto:lds@unifr.ch">&nbsp;inge.schnyder@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Unterricht an Maturitätsschulen</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;&nbsp;</span><a href="https://studies.unifr.ch/de/master/teach/teacheredu2" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/LDM_60 (1530).pdf" target="_blank">LDM (60 ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Erweiterungsdiplom_LDM_14 (1467) 05 05 2025.pdf" target="_blank">Zusatzfach LDM</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:ldm@unifr.ch">anne.mottini@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Unterricht auf der Sekundarstufe I und an Maturitätsschulen</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;&nbsp;</span><a href="https://studies.unifr.ch/de/master/teach/teacheredu1-2" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/LDSM_106 (1517).pdf" target="_blank">LDSM (106 ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Erweiterungsdiplom_LDSM_20 (0000) 05 05 2025.pdf" target="_blank">Zusatzfach LDSM</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:ldm@unifr.ch">anne.mottini@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <div style="height:1em;">
 <hr style="position:relative; top:calc(50%);">
</div>
    </div>
</div>

<div id="" class="row inner bg-white">
    <div class="col-md-12  inner-10">
        <h3>Fachstudienprogramme</h3>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Textiles und Technisches Gestalten</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><strong>Studienpläne</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Fach_TTG_30 (1537).pdf" target="_blank">Fach (30 ECTS-Kreditpunkte)</a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Fach_TTG_50 (1535).pdf" target="_blank">Fach (50 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung: <a href="mailto:vincent.marbacher@unifr.ch">vincent.marbacher@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Bildnerisches Gestalten</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><strong>Studienplan</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Fach_BG_50 (1533) 28 03 2025.pdf" target="_blank">Fach (50 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:catherine.liechti@unifr.ch">catherine.liechti@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Wirtschaft, Arbeit, Haushalt</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><strong>Studienplan</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/Fach_WAH_50 (1534) 28 03 2025.pdf" target="_blank">Fach (50 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:didier.knopf@unifr.ch">didier.knopf@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <div style="height:1em;">
 <hr style="position:relative; top:calc(50%);">
</div>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <h3>Sonderpädagogik</h3>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Sonderpädagogik und Sozialpädagogik</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/pedpsy/specialeducation" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienplan</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_SOP_180 (1495) 26 02 2026.pdf" target="_blank">Bachelor Mono (180 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:monika.kleinheinz@unifr.ch">monika.kleinheinz@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Logopädie</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/pedpsy/speechtherapy" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_LOG_180 (1496) 05 06 2025.pdf" target="_blank">Bachelor Mono (180&nbsp;ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_SP_90 (1504) 05 06 2025.pdf" target="_blank">Master Major (90&nbsp;ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:monika.kleinheinz@unifr.ch">monika.kleinheinz@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Schulische Heilpädagogik</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/master/pedpsy/specialneedseducationgerman" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienplan</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_SHP_90 (1505) 26 02 2026 (1).pdf" target="_blank">Master Major (90+30 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:monika.kleinheinz@unifr.ch">monika.kleinheinz@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Sonderpädagogik</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/pedpsy/specialeduminor" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_SP_60 (1198) 05 06 2025.pdf" target="_blank">Bachelor Minor (60 ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_SP_90 (1504).pdf" target="_blank">Master Major (90 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung:&nbsp;<a href="mailto:monika.kleinheinz@unifr.ch">monika.kleinheinz@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <div style="height:1em;">
 <hr style="position:relative; top:calc(50%);">
</div>

<h3>Erziehungswissenschaften</h3>
    </div>
</div>

<div id="" class="bg-white row inner flex-equalizer">
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Erziehungswissenschaften</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/pedpsy/educationalsciences" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne&nbsp;(Deutsch)</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_Erzw_120 (1462) 05 06 2025.pdf" target="_blank">Bachelor Major (120 ECTS-Kreditpunkte)</a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_Erzw_60 (1463) 05 06 2025.pdf" target="_blank">Bachelor Minor (60 ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_Erzw_90_30 (1524 1527).pdf" target="_blank">Master Major + Minor (90+30 ECTS-Kreditpunkte)</a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_Erzw_30 (1492) 13 02 2026.pdf" target="_blank">Master Minor (30 ECTS-Kreditpunkte)</a></p>
<p><strong>Studienpläne&nbsp; (zweisprachig)</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_Erzw_SdE_120 (1462) 05 06 2025.pdf" target="_blank">Bachelor Major (120 ECTS-Kreditpunkte)</a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_Erzw_SdE_60 (1463) 05 06 2025.pdf" target="_blank">Bachelor Minor (60 ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_Erzw_SdE_90 (1524) 13 02 2026.pdf" target="_blank">Master Major (90 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung<br>Bachelor:&nbsp;<a href="mailto:anne.ramos@unifr.ch">anne.ramos@unifr.ch<br></a>Master:&nbsp;<a href="mailto:madeleine.scherrer@unifr.ch">madeleine.scherrer@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm-6 inner-10">
        <div class="panel panel-violet">
    
<div class="panel-heading">
<h4>Pädagogik/Psychologie</h4>
</div>

  <div class="panel-body">
    <div id="" class="row inner ">
    <div class="col-md-12  inner-10">
        <p><span class="fa fa-eye">&nbsp;</span><a href="https://studies.unifr.ch/de/bachelor/pedpsy/educationpsychology" target="_blank">Studienbeschrieb</a></p>
<p><strong>Studienpläne&nbsp;(Deutsch)</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_PädPsy_120 (1196) 05 06 2025.pdf" target="_blank">Bachelor Major (120 ECTS-Kreditpunkte)</a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_PädPsy_60 (1197) 05 06 2025.pdf" target="_blank">Bachelor Minor (60 ECTS-Kreditpunkte)</a></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_PädPsy_90 (1490) 05 05 2025.pdf" target="_blank">Master Major (90 ECTS-Kreditpunkte)</a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/MSc_PädPsy_30 (1491) 05 05 2025.pdf" target="_blank">Master Minor (30 ECTS-Kreditpunkte)</a></p>
<p><strong>Studienpläne (zweisprachig)</strong></p>
<p><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_PädPsy_PédPsy_120 (1196) 05 06 2025.pdf" target="_blank">Bachelor Major (120 ECTS-Kreditpunkte)<br></a><a class="link download" href="//cdn.unifr.ch/eduform/plans/current/BSc_PädPsy_PédPsy_60 (1197) 05 06 2025.pdf" target="_blank">Bachelor Minor (60 ECTS-Kreditpunkte)</a></p>
<p>&nbsp;</p>
<p><span class="fa fa-info-circle">&nbsp;</span>Studienberatung<br>Bachelor:&nbsp;<a href="mailto:anne.ramos@unifr.ch">anne.ramos@unifr.ch<br></a>Master:&nbsp;<a href="mailto:madeleine.scherrer@unifr.ch">madeleine.scherrer@unifr.ch</a></p>
    </div>
</div>
  </div>
</div>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/eduform/de/news/">NEWS</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/eduform/de/news/full-page-research-day.html" title="EduForm Research Day vom 21.10.2026" >EduForm Research Day vom 21.10.2026</a></li>
<li><a href="//www.unifr.ch/eduform/de/news/news/" title="News" >News</a></li>
<li><a href="//www.unifr.ch/eduform/de/news/agenda/" title="Agenda" >Agenda</a></li>
<li><a href="https://events.unifr.ch/infoday/de/" title="Infodays" target="_blank">Infodays</a></li>
<li class="last"><a href="https://events.unifr.ch/masterdays/de/" title="Masterdays" target="_blank">Masterdays</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/eduform/de/fak/">FAKULTÄT</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/eduform/de/fak/profil/" title="Profil" >Profil</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/vision.html" title="Vision" >Vision</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/dekanat/leitung.html" title="Dekanat" >Dekanat</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/org/dekanatsrat.html" title="Organisation" >Organisation</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/struktur.html" title="Struktur und Departemente" >Struktur und Departemente</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/reglemente.html" title="Statuten und Reglemente" >Statuten und Reglemente</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/dr-honoris-causa.html" title="Dr honoris causa" >Dr honoris causa</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/cswm.html" title="Wissenschaftliche Mitarbeitende" >Wissenschaftliche Mitarbeitende</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/fachschaft.html" title="Fachschaft" >Fachschaft</a></li>
<li><a href="//www.unifr.ch/eduform/de/fak/jobs.html" title="Offene Stellen" >Offene Stellen</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/fak/kontakt.html" title="Kontakt" >Kontakt</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/eduform/de/studium/">STUDIUM</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/eduform/de/studium/angebot/" title="Studienangebot und -pläne" >Studienangebot und -pläne</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/zulassung/" title="Zulassung" >Zulassung</a></li>
<li><a href="//www.unifr.ch/eduform/de/studium/mein-studium/" title="Mein Studium" >Mein Studium</a></li>
<li class="last"><a href="//www.unifr.ch/eduform/de/studium/doctorat.html" title="Mein Doktorat" >Mein Doktorat</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Kontakt</h6>
    <p>Universität Freiburg</p>
    <p>Fakultät für Erziehungs- und Bildungswissenschaften</p>
    <p>Murtengasse 36</p>
    <p>CH-1700 Freiburg</p>
    
    <p><a href="mailto:EduForm@unifr.ch" class="link">EduForm@unifr.ch</a></p>
    <p><a href="//www.unifr.ch/eduform" class="link" aria-label="Go to homepage">www.unifr.ch/eduform</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifribourg" target="_blank" class="gfx gfx-facebook" aria-label="Go to Facebook page of Unifr"></a>
        <a href="https://www.youtube.com/channel/UCx74T4l0XqJFLcdlCavnoXQ" target="_blank" class="fa fa-youtube-play" aria-label="Go to YouTube Channel of Unifr"></a>
        <a href="https://ch.linkedin.com/showcase/unifr-eduform/" target="_blank" class="fa fa-linkedin" aria-label="Go to LinkedIn page of Unifr"></a>
        <a href="https://instagram.com/unifribourg/" target="_blank" class="fa fa-instagram" aria-label="Go to Instagram page of Unifr"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Freiburg",
    "addressRegion": "FR",
    "postalCode": "1700",
    "streetAddress": "Murtengasse 36"
  },
  "url" : "www.unifr.ch/eduform",
  "name": "Fakultät für Erziehungs- und Bildungswissenschaften",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 026 300 7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>






                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; Universität Freiburg | </span><a href="//www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Rechtliche Hinweise</a> | <a href="//www.unifr.ch/help">Notfallnummern</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" defer crossorigin />
<script src="//cdn.unifr.ch/uf/v2.4.5/js/shared.js" ></script>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/app.js" ></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/lt_ie_10.js" defer></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/polyfills.js" defer></script><![endif]-->







<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>



</body>
</html>