
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="de"><!--<![endif]-->
<head>
	<link rel="preconnect" href="https://cdn.unifr.ch" />
	<link rel="dns-prefetch" href="https://www.googletagmanager.com" />
	<link rel="dns-prefetch" href="https://www.google.com" />
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Regular-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Semibold-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Bold-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Light-webfont.woff" as="font" type="font/woff" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bachelor | Departement für Psychologie  | Universität Freiburg</title>
    <meta name="description" content="">
    <meta name="language" content="de" />
    <meta name="robots" content="index, follow">
    <base href="//www.unifr.ch/psycho/de/" />
    <link rel="canonical" href="https://www.unifr.ch/psycho/de/studium/bachelor/" />
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/bootstrap.css" rel="stylesheet" media="all" type="text/css" crossorigin  />
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/main.css" rel="stylesheet" media="all" type="text/css" crossorigin />
    <link rel="shortcut icon" type="image/ico" href="https://cdn.unifr.ch/sharedconfig/favicon/favicon.ico" />
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/old_ie.css" rel="stylesheet" /><![endif]-->
    <script src="//cdn.unifr.ch/uf/v2.4.5/js/modernizr.js" crossorigin ></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="de" href="https://www.unifr.ch/psycho/de/studium/bachelor/" id="alt_hreflang_de">
        

<link rel="alternate" hreflang="fr" href="https://www.unifr.ch/psycho/fr/etudes/bachelor/" id="alt_hreflang_fr" />


<link rel="alternate" hreflang="en" href="https://www.unifr.ch/psycho/en/studies/bachelor/" id="alt_hreflang_en" />
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager --> 

    

<link href="//cdn.unifr.ch/uf/v2.4.5/css/corr.css" rel="stylesheet" defer crossorigin />

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    





    
</head>
<body data-lang="de" class="sky">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH"
height="0" width="0" loading="lazy" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="https://www.unifr.ch/" class="open-offcanvas square bg-branded hover hidden-desktop" title="Hamburger menu"></a><a href="https://www.unifr.ch" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;" title="Zur Startseite dieser Website gehen"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Mehr sehen</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square" title="Suchmaschine anzeigen"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"/><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="https://www.unifr.ch/psycho/" checked="checked" id="local-" class="hidden"/>
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden"/>
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">Keine Resultate</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk" title="meta-menu toggler"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Schnellzugriff
</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">Universität</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/de" title="Die Studium: Bachelor, Master, Doktorat">Studium</a></li>
                            <li><a href="https://www.unifr.ch/campus/de/" title="Campus Life">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/de" title="Forschung">Forschung</a></li>
                            <li><a href="https://www.unifr.ch/uni/de" title="Die Universität">Universität</a></li>
                            <li><a href="https://www.unifr.ch/formcont/de"  title="Weiterbildung">Weiterbildung</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Fakultäten</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/de" title="Theologische Fakultät"><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Theologische Fak.</a></li>
                            <li><a href="https://www.unifr.ch/ius/de" title="Rechtswissenschaftliche Fakultät"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Rechtswissenschaftliche Fak.</a></li>
                            <li><a href="https://www.unifr.ch/ses/de" title="Wirtschafts- und Sozialwissenschaftliche Fakultät"><span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Wirtschafts- und Sozialwissenschaftliche Fak.</a></li>
							<li><a href="https://www.unifr.ch/lettres/de" title="Philosophische Fakultät"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Philosophische Fak.</a></li>
							<li><a href="https://www.unifr.ch/eduform/de" title="Fakultät für Erziehungs- und Bildungs­wissenschaften"><span class="glyphicon glyphicon-stop color-violet" aria-hidden="true"></span> Fak. für Erziehungs- und Bildungswissenschaften</a></li>
                            <li><a href="https://www.unifr.ch/science/de" title="Mathematisch-Naturwissenschaftliche Fakultät"><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Math.-Nat. und Med. Fak.</a></li>
                            <li><a href="https://www.unifr.ch/faculties/de/interfakultaer.html" title="Interfakultär"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfakultär</a></li>
                           
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/de/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">Informationen für</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/de/studieninteressierte/" title="Sie sind... Studieninteressierte_r">Studieninteressierte</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/studierende/" title="Sie sind... Studierende_r">Studierende</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/medien/" title="Sie sind... Medienschaffende_r">Medien</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/forschende/" title="Sie sind... Forschende_r">Forschende</a></li>
                            <li><a href="https://www.unifr.ch/you-are/de/mitarbeitende/" title="Sie sind... Mitarbeitende_r">Mitarbeitende</a></li>
							<li><a href="https://www.unifr.ch/you-are/de/doktorierende/" title="Sie sind... Doktorierende_r">Doktorierende</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg hidden-md" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressourcen</a>			
					<nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/de"><span class="fa fa-user fa-fw" aria-hidden="true"></span> Personenverzeichnis</a></li>
                            <li><a href="https://www.unifr.ch/map"><span class="fa fa-map-signs fa-fw" aria-hidden="true"></span> Ortsplan</a></li>
                            <li><a href="https://www.unifr.ch/biblio"><span class="fa fa-book fa-fw" aria-hidden="true"></span> Bibliotheken</a></li>
                            <li><a href="https://outlook.com/unifr.ch"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> Webmail</a></li>
                            <li><a href="https://www.unifr.ch/timetable/de/"><span class="fa fa-calendar fa-fw" aria-hidden="true"></span> Vorlesungsverzeichnis</a></li>
                            <li><a href="https://my.unifr.ch"><span class="fa fa-lock fa-fw" aria-hidden="true"></span> MyUnifr</a></li>
                        </ul>
                    </nav>
					
                </li>
            </ul>
        </nav>
    </div>
</div>


                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="//www.unifr.ch/psycho/fr/etudes/bachelor/" class="" title="Seite anzeigen auf:   FR">FR</a></li>

<li><a href="//www.unifr.ch/psycho/de/studium/bachelor/" class=" bold" title="Seite anzeigen auf:   DE">DE</a></li>

<li><a href="//www.unifr.ch/psycho/en/studies/bachelor/" class="" title="Seite anzeigen auf:   EN">EN</a></li>
    </ul>
</nav>

                <!-- Global Breadcrumb -->
                


<div class="breadcrumbs square">

    <a href="//www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler" title="Globaler Pfad"><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="//www.unifr.ch" class="gfx gfx-home" title="Zur Startseite gehen "></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li >
                    <a href="//www.unifr.ch/lettres" class="short">Philosophische Fakultät</a>
                    <a href="//www.unifr.ch/lettres" class="long">Philosophische Fakultät</a>
                </li>
                
                <!-- level 2 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="//www.unifr.ch/psycho" class="short">Departement für Psychologie</a>
                    <a href="//www.unifr.ch/psycho" class="long">Departement für Psychologie</a>
                </li>
                
                <!-- level 3 -->
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Mehr sehen</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square" aria-label="search" title="Suchmaschine anzeigen"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="https://www.unifr.ch/psycho/" id="local-" class="hidden" checked="checked"/>
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden" />
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">Keine Resultate</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square" title="Seite in einer anderen Sprache auswählen ">DE</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="//www.unifr.ch/psycho/fr/etudes/bachelor/" class="square bg-white hover " title="Seite anzeigen auf:   FR">FR</a></li>


<li><a href="//www.unifr.ch/psycho/de/studium/bachelor/" class="square bg-white hover  bold" title="Seite anzeigen auf:   DE">DE</a></li>


<li><a href="//www.unifr.ch/psycho/en/studies/bachelor/" class="square bg-white hover " title="Seite anzeigen auf:   EN">EN</a></li>
        </ul>
    </div>
</nav>
                    <a href="#" class="close-offcanvas square hover bg-marine" title="close offcanvas"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            <ul><li class="first"><a href="//www.unifr.ch/psycho/de/personas/studieninteressierte.html" title="Studieninteressierte" >Studieninteressierte</a></li>
</ul>
                        </nav>
                        
<h1 class="logo"><span class="sr-only">Universität Freiburg</span><a href="//www.unifr.ch"  title="Zur Homepage der Universität gehen"><img src="//cdn.unifr.ch/uf/v2.4.5/gfx/logo.png" alt="Logo Unifr" " /></a></h1>

<p class="service-menu--department"><a href="//www.unifr.ch/psycho/de/" title="Zur Startseite dieser Website gehen">Departement für Psychologie</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        
<!-- start outerTpl -->
<ul>
    <li class="first"><a href="//www.unifr.ch/psycho/de/" title="Home" >Home</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/news-and-events/agenda/" title="News & Events"   class="deeper">
		News & Events
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/news-and-events/news/" title="News" >News</a></li>
<li><a href="//www.unifr.ch/psycho/de/news-and-events/agenda/" title="Agenda" >Agenda</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/news-and-events/lts.html" title="Lunchtime Seminar" >Lunchtime Seminar</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/departement/profil/" title="Departement"   class="deeper">
		Departement
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/departement/profil/" title="Profil" >Profil</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/departement/sekretariate/" title="Sekretariate"   class="deeper">
		Sekretariate
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/departement/sekretariate/standort.html" title="Standort" >Standort</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/" title="Mitarbeitende"   class="deeper">
		Mitarbeitende
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/professor-innen-tleaders.html" title="Professor/innen & team leaders" 1540,2477>Professor/innen & team leaders</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/administration/" title="Administration" 1543>Administration</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/diplomassistent-innen.html" title="Diplomassistent/innen" 1541>Diplomassistent/innen</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/teams/" title="Teams" >Teams</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/dept.html" title="Das gesamte Departement" 1251>Das gesamte Departement</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="//www.unifr.ch/psycho/de/departement/rat.html" title="Departementsrat" >Departementsrat</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/ethikkommission/" title="Ethikkommission" >Ethikkommission</a></li>
<li><a href="http://student.unifr.ch/psycho/de" title="Fachschaft" target="_blank">Fachschaft</a></li>
<li><a href="https://www3.unifr.ch/pspe/de/" title="Bibliothek PSPE" target="_blank">Bibliothek PSPE</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/offene-stellen.html" title="Offene Stellen" >Offene Stellen</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/departement/snf-appl.html" title="SNF Ambizione and Professorship applicants" >SNF Ambizione and Professorship applicants</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="active">
	<a href="//www.unifr.ch/psycho/de/studium/" title="Studium"   class="deeper">
		Studium
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first active"><a href="//www.unifr.ch/psycho/de/studium/bachelor/" title="Bachelor" >Bachelor</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/studium/master/" title="Master"   class="deeper">
		Master
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/studium/master/allgemeine-informationen.html" title="Allgemeine Informationen" >Allgemeine Informationen</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/hauptprogramm/" title="Hauptprogramm" >Hauptprogramm</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/spezialisierungsprogramm/" title="Spezialisierungsprogramm" >Spezialisierungsprogramm</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/" title="<b>Vor</b> HS 2025" ><b>Vor</b> HS 2025</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="//www.unifr.ch/psycho/en/studies/phd/" title="Doktorat" >Doktorat</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/postgraduiertenprogramme/" title="Postgraduiertenprogramme" >Postgraduiertenprogramme</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/" title="<strong>Während des Studiums</strong>" ><strong>Während des Studiums</strong></a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/" title="Lehrveranstaltungen"  1083,1095,1097 class="deeper">
		Lehrveranstaltungen
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/lehrpläne-und-stundenpläne.html" title="Lehrpläne und Stundenpläne" >Lehrpläne und Stundenpläne</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/versuchspersonenstunden.html" title="Versuchspersonenstunden" >Versuchspersonenstunden</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/mentoring.html" title="Mentoring" >Mentoring</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="//www.unifr.ch/psycho/de/studium/prufungen/" title="Prüfungen, Bachelor- und Masterarbeit" >Prüfungen, Bachelor- und Masterarbeit</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/studienplaene-and-reglemente.html" title="Studienpläne & Reglemente" >Studienpläne & Reglemente</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/praktika/" title="Praktika" >Praktika</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/mobilitaet.html" title="Mobilität (EN)" >Mobilität (EN)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/faq-ma-studium.html" title="FAQ MA-Studium (EN)" >FAQ MA-Studium (EN)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/studienberatung.html" title="Studienberatung" >Studienberatung</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/verteidigte-dissertationen/" title="Verteidigte Dissertationen" >Verteidigte Dissertationen</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/psycho/de/institute-und-zentren/" title="Institute und Zentren"   class="deeper">
		Institute und Zentren
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		

<!-- start parentRowTpl -->
<li class="first">
	<a href="//www.unifr.ch/psycho/de/psychotherapie/" title="Psychotherapeutische Praxisstelle"   class="deeper">
		Psychotherapeutische Praxisstelle
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/abklärung.html" title="Abklärung" >Abklärung</a></li>
<li><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/psychotherapie.html" title="Psychotherapeutische Beratung und Psychotherapie" >Psychotherapeutische Beratung und Psychotherapie</a></li>
<li><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/blended-therapy.html" title="Begleitete Online-Behandlung (blended therapy)" >Begleitete Online-Behandlung (blended therapy)</a></li>
<li><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/ueber-uns/" title="Über uns" 1044,2591,2592,2593,2594,2776>Über uns</a></li>
<li><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/kontact.html" title="Kontakt" >Kontakt</a></li>
<li><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/kosten.html" title="Behandlungskosten" >Behandlungskosten</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/institute-und-zentren/psychotherapie/links.html" title="Links" >Links</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="//www.unifr.ch/psycho/fr/centre-de-psychologie-de-la-sante/" title="Centre de psychologie de la santé" >Centre de psychologie de la santé</a></li>
<li><a href="https://www3.unifr.ch/iff/de/" title="Institut für Familienforschung und -beratung" target="_blank">Institut für Familienforschung und -beratung</a></li>
<li><a href="http://www3.unifr.ch/ztd/de/" title="Zentrum für Testentwicklung & Diagnostik" target="_blank">Zentrum für Testentwicklung & Diagnostik</a></li>
<li class="last"><a href="http://human-ist.unifr.ch/" title="Human Centered Interaction Science and Technology" target="_blank">Human Centered Interaction Science and Technology</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="//www.unifr.ch/psycho/de/forschungseinheiten/" title="Forschung"   class="deeper">
		Forschung
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Zurück</a></li>
		<li class="first"><a href="//www.unifr.ch/psycho/de/forschungseinheiten/devsr/" title="Development of Sleep Regulation" >Development of Sleep Regulation</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/fampsy/" title="Klinische Familienpsychologie" >Klinische Familienpsychologie</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/klipsy/" title="Klinische Psychologie und Psychotherapie" >Klinische Psychologie und Psychotherapie</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/biopsy/" title="Kognitive Biopsychologie und Methoden" >Kognitive Biopsychologie und Methoden</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/cogerg/" title="Kognitive Ergonomie und Arbeitspsychologie" >Kognitive Ergonomie und Arbeitspsychologie</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/vsn/" title="Neurosciences visuelles et sociales" >Neurosciences visuelles et sociales</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/ohp/" title="Occupational Health Psychology" >Occupational Health Psychology</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/ppsa/" title="Psycholinguistics and Applied Social Psychology" >Psycholinguistics and Applied Social Psychology</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/clisan/" title="Psychologie clinique et de la santé" >Psychologie clinique et de la santé</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/devpsy/" title="Psychologie du développement cognitif" >Psychologie du développement cognitif</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/forschungseinheiten/vcnl/" title="Visual and Cognitive Neuroscience Lab" >Visual and Cognitive Neuroscience Lab</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="//www.unifr.ch/psycho/de/" class="gfx gfx-home" title="Zur Startseite dieser Website gehen"></a></li>
	<li><a href="//www.unifr.ch/psycho/de/studium/">Studium</a></li><li>Bachelor</li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="//www.unifr.ch/psycho/de/studium/" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        Studium</a>
                                    <a href="//www.unifr.ch/psycho/de/studium/" class="hidden-max-laptop">
                                        Studium</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul><li class="first active"><a href="//www.unifr.ch/psycho/de/studium/bachelor/" title="Bachelor" >Bachelor</a></li>



<!--parentRowTpl-->
<li class="">
    <a href="//www.unifr.ch/psycho/de/studium/master/" title="Master" class="deeper"  >
        Master <i data-expander-toggler="sub-menu-966"
                            
                            
                            class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-966" class="level"
         
         >
        <ul><li class="first"><a href="//www.unifr.ch/psycho/de/studium/master/allgemeine-informationen.html" title="Allgemeine Informationen" >Allgemeine Informationen</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/hauptprogramm/" title="Hauptprogramm" >Hauptprogramm</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/spezialisierungsprogramm/" title="Spezialisierungsprogramm" >Spezialisierungsprogramm</a></li>



<!--parentRowTpl-->
<li class="last">
    <a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/" title="<b>Vor</b> HS 2025" class="deeper"  >
        <b>Vor</b> HS 2025 <i data-expander-toggler="sub-menu-736"
                            
                            
                            class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-736" class="level"
         
         >
        <ul><li class="first"><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/chp/" title="Klinische Psychologie & Gesundheitspsychologie (CHP)" >Klinische Psychologie & Gesundheitspsychologie (CHP)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/cns/" title="Kognitive Neurowissenschaften (CNS)" >Kognitive Neurowissenschaften (CNS)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/wop/" title="Arbeits- und Organisationspsychologie (WOP)" >Arbeits- und Organisationspsychologie (WOP)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/dsp/" title="Entwicklungs- und Schulpsychologie (DSP)" >Entwicklungs- und Schulpsychologie (DSP)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/ccp/" title="Klinische Kinder- und Jugendpsychologie (CCP)" >Klinische Kinder- und Jugendpsychologie (CCP)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/clins/" title="Klinische Neurowissenschaften (CliNS)" >Klinische Neurowissenschaften (CliNS)</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/master/vor-hs-2025/whp/" title="Arbeits- und Gesundheitspsychologie (WHP)" >Arbeits- und Gesundheitspsychologie (WHP)</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
</ul>
    </div>
</li>
<!--/parentRowTpl-->
<li><a href="//www.unifr.ch/psycho/en/studies/phd/" title="Doktorat" >Doktorat</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/postgraduiertenprogramme/" title="Postgraduiertenprogramme" >Postgraduiertenprogramme</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/" title="<strong>Während des Studiums</strong>" ><strong>Während des Studiums</strong></a></li>



<!--parentRowTpl-->
<li class="">
    <a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/" title="Lehrveranstaltungen" class="deeper"  1083,1095,1097>
        Lehrveranstaltungen <i data-expander-toggler="sub-menu-56"
                            
                            
                            class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-56" class="level"
         
         >
        <ul><li class="first"><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/lehrpläne-und-stundenpläne.html" title="Lehrpläne und Stundenpläne" >Lehrpläne und Stundenpläne</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/versuchspersonenstunden.html" title="Versuchspersonenstunden" >Versuchspersonenstunden</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/mentoring.html" title="Mentoring" >Mentoring</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
<li><a href="//www.unifr.ch/psycho/de/studium/prufungen/" title="Prüfungen, Bachelor- und Masterarbeit" >Prüfungen, Bachelor- und Masterarbeit</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/studienplaene-and-reglemente.html" title="Studienpläne & Reglemente" >Studienpläne & Reglemente</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/praktika/" title="Praktika" >Praktika</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/mobilitaet.html" title="Mobilität (EN)" >Mobilität (EN)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/faq-ma-studium.html" title="FAQ MA-Studium (EN)" >FAQ MA-Studium (EN)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/studienberatung.html" title="Studienberatung" >Studienberatung</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/verteidigte-dissertationen/" title="Verteidigte Dissertationen" >Verteidigte Dissertationen</a></li>
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <div class="banner--background-image">
    <div style="background-image:url('/psycho/assets/public/Images/Studium/Studium_Bachelor.png')" class="background-size-cover"></div>
</div>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <h2>Bachelor</h2>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-8 inner-10">
        <p>Wer sich für das menschliche Erleben und Verhalten interessiert, liegt mit einem Studium der Psychologie genau richtig. Hier wird untersucht, wie Gefühle, Erfahrungen, Gelerntes oder Motivationen auf uns einwirken und welche Rolle das kulturelle und soziale Umfeld spielt. Auf Bachelor-Stufe wird besonders Wert darauf gelegt, dass die Studierenden ihre Alltagstheorien stetig mit den Erkenntnissen der wissenschaftlichen Psychologie konfrontieren. <br><br>Während des dreijährigen Studienprogramms werden sie mit den fachlichen Grundlagenkenntnissen, den Arbeitstechniken der Forschung, den verschiedenen Anwendungsbereichen der Psychologie und mit Basiskompetenzen der psychologischen Diagnostik und Beratung vertraut gemacht. Ein zweimonatiges Praktikum und eine schriftliche Arbeit krönen die Ausbildung zum Bachelor.</p>
<p>Einzigartig am Psychologie-Studium an der Universität Freiburg ist zudem die Zweisprachigkeit im Lehrbetrieb: Hier werden Studienprogramme auf Deutsch, Französisch oder als Kombination beider Sprachen angeboten.</p>
    </div>
    <div class="col-md-4 inner-10">
         <div class="box bg-marine inner-10"><strong><a class="link gfx gfx-arrow-right after inline" href="https://admin.unifr.ch/inscruni/pages/login.xhtml" target="_blank">Anmelden</a></strong></div>

<div class="box bg-sky inner-05">
<p><a class="link gfx gfx-arrow-right" href="studium/studienplaene-and-reglemente.html">Studienpläne</a></p>

</div>

<div class="box bg-sky inner-05">
<p><a class="link gfx gfx-arrow-right" href="studium/lehrveranstaltungen/">Lehrveranstaltungen</a></p>

</div>       
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/psycho/de/departement/">DEPARTEMENT</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/psycho/de/departement/profil/" title="Profil" >Profil</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/sekretariate/" title="Sekretariate" >Sekretariate</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/mitarbeitende/" title="Mitarbeitende" >Mitarbeitende</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/rat.html" title="Departementsrat" >Departementsrat</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/ethikkommission/" title="Ethikkommission" >Ethikkommission</a></li>
<li><a href="http://student.unifr.ch/psycho/de" title="Fachschaft" target="_blank">Fachschaft</a></li>
<li><a href="https://www3.unifr.ch/pspe/de/" title="Bibliothek PSPE" target="_blank">Bibliothek PSPE</a></li>
<li><a href="//www.unifr.ch/psycho/de/departement/offene-stellen.html" title="Offene Stellen" >Offene Stellen</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/departement/snf-appl.html" title="SNF Ambizione and Professorship applicants" >SNF Ambizione and Professorship applicants</a></li>
</ul>

<h6><a href="//www.unifr.ch/psycho/de/institute-und-zentren/">INSTITUTE UND ZENTREN</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/psycho/de/psychotherapie/" title="Psychotherapeutische Praxisstelle" >Psychotherapeutische Praxisstelle</a></li>
<li><a href="//www.unifr.ch/psycho/fr/centre-de-psychologie-de-la-sante/" title="Centre de psychologie de la santé" >Centre de psychologie de la santé</a></li>
<li><a href="https://www3.unifr.ch/iff/de/" title="Institut für Familienforschung und -beratung" target="_blank">Institut für Familienforschung und -beratung</a></li>
<li><a href="http://www3.unifr.ch/ztd/de/" title="Zentrum für Testentwicklung & Diagnostik" target="_blank">Zentrum für Testentwicklung & Diagnostik</a></li>
<li class="last"><a href="http://human-ist.unifr.ch/" title="Human Centered Interaction Science and Technology" target="_blank">Human Centered Interaction Science and Technology</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/psycho/de/studium/">STUDIUM</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/psycho/de/studium/bachelor/" title="Bachelor" >Bachelor</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/master/" title="Master" >Master</a></li>
<li><a href="//www.unifr.ch/psycho/en/studies/phd/" title="Doktorat" >Doktorat</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/postgraduiertenprogramme/" title="Postgraduiertenprogramme" >Postgraduiertenprogramme</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/" title="<strong>Während des Studiums</strong>" ><strong>Während des Studiums</strong></a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/lehrveranstaltungen/" title="Lehrveranstaltungen" 1083,1095,1097>Lehrveranstaltungen</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/prufungen/" title="Prüfungen, Bachelor- und Masterarbeit" >Prüfungen, Bachelor- und Masterarbeit</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/studienplaene-and-reglemente.html" title="Studienpläne & Reglemente" >Studienpläne & Reglemente</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/praktika/" title="Praktika" >Praktika</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/mobilitaet.html" title="Mobilität (EN)" >Mobilität (EN)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/faq-ma-studium.html" title="FAQ MA-Studium (EN)" >FAQ MA-Studium (EN)</a></li>
<li><a href="//www.unifr.ch/psycho/de/studium/studienberatung.html" title="Studienberatung" >Studienberatung</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/studium/verteidigte-dissertationen/" title="Verteidigte Dissertationen" >Verteidigte Dissertationen</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/psycho/de/forschungseinheiten/">FORSCHUNG</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/psycho/de/forschungseinheiten/devsr/" title="Development of Sleep Regulation" >Development of Sleep Regulation</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/fampsy/" title="Klinische Familienpsychologie" >Klinische Familienpsychologie</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/klipsy/" title="Klinische Psychologie und Psychotherapie" >Klinische Psychologie und Psychotherapie</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/biopsy/" title="Kognitive Biopsychologie und Methoden" >Kognitive Biopsychologie und Methoden</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/cogerg/" title="Kognitive Ergonomie und Arbeitspsychologie" >Kognitive Ergonomie und Arbeitspsychologie</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/vsn/" title="Neurosciences visuelles et sociales" >Neurosciences visuelles et sociales</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/ohp/" title="Occupational Health Psychology" >Occupational Health Psychology</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/ppsa/" title="Psycholinguistics and Applied Social Psychology" >Psycholinguistics and Applied Social Psychology</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/clisan/" title="Psychologie clinique et de la santé" >Psychologie clinique et de la santé</a></li>
<li><a href="//www.unifr.ch/psycho/de/forschungseinheiten/devpsy/" title="Psychologie du développement cognitif" >Psychologie du développement cognitif</a></li>
<li class="last"><a href="//www.unifr.ch/psycho/de/forschungseinheiten/vcnl/" title="Visual and Cognitive Neuroscience Lab" >Visual and Cognitive Neuroscience Lab</a></li>
</ul>

<h6><a href="//www.unifr.ch/psycho/de/institute-und-zentren/">INSTITUTE UND ZENTREN</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/psycho/de/psychotherapie/" title="Psychotherapeutische Praxisstelle" >Psychotherapeutische Praxisstelle</a></li>
<li><a href="//www.unifr.ch/psycho/fr/centre-de-psychologie-de-la-sante/" title="Centre de psychologie de la santé" >Centre de psychologie de la santé</a></li>
<li><a href="https://www3.unifr.ch/iff/de/" title="Institut für Familienforschung und -beratung" target="_blank">Institut für Familienforschung und -beratung</a></li>
<li><a href="http://www3.unifr.ch/ztd/de/" title="Zentrum für Testentwicklung & Diagnostik" target="_blank">Zentrum für Testentwicklung & Diagnostik</a></li>
<li class="last"><a href="http://human-ist.unifr.ch/" title="Human Centered Interaction Science and Technology" target="_blank">Human Centered Interaction Science and Technology</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Kontakt</h6>
    <p>Universität Freiburg</p>
    <p>Departement für Psychologie</p>
    <p>Rue P.-A.-de-Faucigny 2</p>
    <p>CH-1701 Freiburg</p>
    
    <p><a href="mailto:psychologie@unifr.ch" class="link">psychologie@unifr.ch</a></p>
    <p><a href="//www.unifr.ch/psycho" class="link" aria-label="Go to homepage">www.unifr.ch/psycho</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifribourg" target="_blank" class="gfx gfx-facebook" aria-label="Go to Facebook page of Unifr"></a>
        <a href="https://www.youtube.com/channel/UCx74T4l0XqJFLcdlCavnoXQ" target="_blank" class="fa fa-youtube-play" aria-label="Go to YouTube Channel of Unifr"></a>
        <a href="https://www.linkedin.com/edu/school?id=10930" target="_blank" class="fa fa-linkedin" aria-label="Go to LinkedIn page of Unifr"></a>
        <a href="https://instagram.com/unifribourg/" target="_blank" class="fa fa-instagram" aria-label="Go to Instagram page of Unifr"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Freiburg",
    "addressRegion": "FR",
    "postalCode": "1701",
    "streetAddress": "Rue P.-A.-de-Faucigny 2"
  },
  "url" : "www.unifr.ch/psycho",
  "name": "Departement für Psychologie",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 (0) 26 300 76 20",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>






                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; Universität Freiburg | </span><a href="//www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Rechtliche Hinweise</a> | <a href="//www.unifr.ch/help">Notfallnummern</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" defer crossorigin />
<script src="//cdn.unifr.ch/uf/v2.4.5/js/shared.js" ></script>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/app.js" ></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/lt_ie_10.js" defer></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/polyfills.js" defer></script><![endif]-->







<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>



</body>
</html>